<div class="component-name">
  Carte
</div>

<div class="card-container">
  <div>
    <ar-card>
      <div class="card-example">Une carte</div>
    </ar-card>
  </div>

  <div>
    <ar-card [shadow]="'small-shadow'" [border]="'none'">
      <div class="card-example">Une carte</div>
    </ar-card>
  </div>

  <div>
    <ar-card [shadow]="'big-shadow'">
      <div class="card-example">Une carte</div>
    </ar-card>
  </div>
</div>

<div class="explanation">
  <div class="explanation-header">
    <div>API</div>
    <div>Exemple</div>
  </div>

  <div>
    <pre><code [highlight]="htmlCode"></code></pre>
  </div>
</div>