
#theme-headerbar {
  width: 100%;
  background-image: var(--ar-gradient4);
  padding: 35px 0;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
  box-shadow: var(--ar-shadow);

  .theme-changer {
    position: absolute;
    font-size: 16px;
    top: 6px; right: 6px;
    cursor: pointer;
  }
}

#left-container {
  display: flex;
}

#theme-menu {
  font-size: 12px;
  width: 160px; min-width: 160px;
  color: var(--ar-text-color);
  position: relative;

  #menu-container {
    width: 160px;
    height: calc(100vh - 100px);
    overflow-y: auto;

    &.is-fixed {
      position: fixed;
      top: 0; left: 0;
      height: 100vh;
    }

    &>div {
      cursor: pointer;
      padding: 2px 3px;

      &:hover {
        color: var(--ar-secondary);
      }

      &.main-menu-element {
        font-size: 16px;
        padding: 0 3px;
        border-bottom: 1px solid var(--ar-secondary);
        
        &>span {
          margin: 3px;
        }
      }

      &.menu-selected {
        color: var(--ar-primary);
        border-bottom: 1px solid var(--ar-primary);
        font-weight: bold;
      }
    }
  }
}

.theme-container {
  width: calc(100vw - 160px);
  padding: 6px;
  overflow: hidden;

  .theme-creator {
    display: flex;
    flex-wrap: wrap;

    &>* {
      flex: 1;
    }
  }
}

.theme-data {
  min-width: 500px;
  flex: 2;

  .theme-part {
    display: flex;
    flex-wrap: wrap;
    
    .data-title {
      color: var(--ar-primary);
      margin: 3px 6px;
      border-bottom: 1px solid var(--ar-primary);
      width: 100%;
    }
    
    .theme-input {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .theme-display {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #theme-menu {
    display: none;
  }
}