<ar-alert></ar-alert>
<ar-snack-bar></ar-snack-bar>

<div id="theme-headerbar">
  Les thèmes
  <div class="theme-changer" (click)="changeTheme()">
    Changer de thèmes
  </div>
</div>

<div id="left-container">
  <div id="theme-menu">
    <div id="menu-container" [class.is-fixed]="isFixed">
      <div class="main-menu-element" [routerLink]="['/theme']">
        <span><i class="fas fa-palette"></i></span>
        Thèmes
      </div>
      <div (click)="scrollToElement('explanation')">
        Fonctionnement
      </div>
      <div (click)="scrollToElement('creation')">
        Création
      </div>
      <div class="main-menu-element" [routerLink]="['/components']">
        <span><i class="fas fa-puzzle-piece"></i></span>
        Composants
      </div>
    </div>
  </div>

  <div class="theme-container">
    <div class="component-name" id="explanation">Fonctionnement du thème</div>
    <div class="theme-explanations">
      <div class="explanation-part">
        Le thème des composants définit grâce à une liste de variables CSS et de classes préparées le style des composants de la librairie.<br>
        Pour fonctionner, le fichier CSS du thème doit être importé dans le fichier "index.html".
        <pre><code [highlight]="cssLink"></code></pre>
        Vous pouvez utiliser un des thèmes préfaits de la librairie qui se trouve dans le dossier "themes" du paquet ou créer le votre grâce à l'outil présent en-dessous de la page.<br>
      </div>

      <div class="explanation-part">
        Si vous souhaiter modifier le thème pour un composant particulier, vous pouvez changer la valeur d'une des variables CSS au sein du CSS du conteneur du composant désiré.
        
        <div class="explanation-demo">
          <div>
            <ar-testimonial-card [headerHeight]="100" color="1" imageSize="75" imageSrc="assets/imgs/caladan.jpg">
              <div>Caladan</div>
            </ar-testimonial-card>
          </div>
          
          <div id="change-color">
            <ar-testimonial-card [headerHeight]="100" color="1" imageSize="75" imageSrc="assets/imgs/caladan.jpg">
              <div>Caladan</div>
            </ar-testimonial-card>
          </div>
        </div>

        <pre><code [highlight]="htmlModify"></code></pre>
        <pre><code [highlight]="cssModify"></code></pre>

      </div>
    </div>

    <div class="component-name" id="creation">Créér son propre thème</div>

    <div class="theme-creator">
      <div class="theme-data">
        <div class="theme-part">
          <div class="data-title">Couleurs principales</div>
          <app-theme-input class="theme-input" [(value)]="theme.primary" label="Couleur Primaire"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.secondary" label="Couleur Secondaire"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.textColor" label="Couleur de Texte"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.backgroundColor" label="Couleur de Fond"></app-theme-input>
        </div>

        <div class="theme-part">
          <div class="data-title">Couleurs secondaires</div>
          <app-theme-input class="theme-input" [(value)]="theme.color1" label="Couleur 1"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.color2" label="Couleur 2"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.color3" label="Couleur 3"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.color4" label="Couleur 4"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.color5" label="Couleur 5"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.color6" label="Couleur 6"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.color7" label="Couleur 7"></app-theme-input>
        </div>

        <div class="theme-part">
          <div class="data-title">Dégradés</div>
          <app-theme-input class="full-width-input" label="Dégradé 1" type="gradient" [(value)]="theme.gradient1"></app-theme-input>
          <app-theme-input class="full-width-input" label="Dégradé 2" type="gradient" [(value)]="theme.gradient2"></app-theme-input>
          <app-theme-input class="full-width-input" label="Dégradé 3" type="gradient" [(value)]="theme.gradient3"></app-theme-input>
          <app-theme-input class="full-width-input" label="Dégradé 4" type="gradient" [(value)]="theme.gradient4"></app-theme-input>
        </div>

        <div class="theme-part">
          <div class="data-title">Couleurs des messages</div>
          <app-theme-input class="theme-input" [(value)]="theme.success" label="Couleur de Succès"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.info" label="Couleur d'Information"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.danger" label="Couleur de Danger"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.warning" label="Couleur d'Avertissement"></app-theme-input>
        </div>

        <div class="theme-part">
          <div class="data-title">Padding et Bordures</div>
          <app-theme-input class="theme-input" [(value)]="theme.padding" type="number" label="Padding (en px)"></app-theme-input>
          <app-theme-input class="theme-input" [(value)]="theme.border" type="number" label="Bordure (en px)"></app-theme-input>
        </div>

        <div class="theme-part">
          <div class="data-title">Ombres</div>
          <app-theme-input class="full-width-input" type="shadow" [(value)]="theme.smallShadow" label="Petite Ombre"></app-theme-input>
          <app-theme-input class="full-width-input" type="shadow" [(value)]="theme.shadow" label="Ombre"></app-theme-input>
          <app-theme-input class="full-width-input" type="shadow" [(value)]="theme.bigShadow" label="Grande Ombre"></app-theme-input>
        </div>
      </div>

      <div class="theme-display">
        <pre><pre><code [highlight]="CssVariables"></code></pre></pre>
      </div>
    </div>

    <div class="download-button">
      <ar-button (click)="downloadTheme('mytheme.css')">Télécharger</ar-button>
    </div>
  </div>

</div>