<div class="component-name">
  Input File
</div>

<div class="input-container">
  <ar-input-file [multiple]="false" accept="image/*" (fileChange)="loadFile($event)"></ar-input-file>
  <div class="img-container" *ngIf="img">
    <img [src]="img">
    <div class="img-title">{{ title }}</div>
  </div>
</div>

<div class="explanation">
  <div class="explanation-header">
    API
  </div>

  <table class="explanation-title">
    <tr *ngFor="let explanation of explanations">
      <td>{{explanation.title}}</td>
      <td>{{explanation.explanation}}</td>
    </tr>
  </table>
</div>

<div class="explanation">
  <div class="explanation-header">
    Exemple
  </div>
  <div>
    <pre><code [highlight]="htmlCode"></code></pre>
    <pre><code [highlight]="tsCode"></code></pre>
  </div>
</div>