<div class="component-name">
  Input d'Autocomplétion
</div>

<div class="input-container">
  <ar-input-autocomplete color="3" placeholder="Premier Input" [(value)]="value" [completeValues]="values"></ar-input-autocomplete>
</div>

<div class="explanation">
  <div class="explanation-header">
    API
  </div>

  <table class="explanation-title">
    <tr *ngFor="let explanation of explanations">
      <td>{{explanation.title}}</td>
      <td>{{explanation.explanation}}</td>
    </tr>
  </table>
</div>

<div class="explanation">
  <div class="explanation-header">
    Exemple
  </div>
  <div>
    <pre><code [highlight]="htmlCode"></code></pre>
    <pre><code [highlight]="tsCode"></code></pre>
  </div>
</div>