<ar-alert></ar-alert>
<ar-snack-bar></ar-snack-bar>

<div id="components-headerbar">
  Les composants
  <div class="theme-changer" (click)="changeTheme()">
    Changer de thèmes
  </div>
</div>

<div id="components-list">
  <app-card></app-card>
  <app-flipping-card></app-flipping-card>
  <app-testimonial-card></app-testimonial-card>
  <app-fixed-background></app-fixed-background>
  <app-table></app-table>
  <app-accordion></app-accordion>
  <app-tabs></app-tabs>
  <app-carousel></app-carousel>
  <app-modal></app-modal>
  <app-confirm-modal></app-confirm-modal>
  <app-alert></app-alert>
  <app-snack-bar></app-snack-bar>
  <app-tooltip></app-tooltip>
  <app-breadcrumb></app-breadcrumb>
  <app-progress-bar></app-progress-bar>
  <app-notation></app-notation>

  <app-input></app-input>
  <app-input-number></app-input-number>
  <app-input-file></app-input-file>
  <app-input-autocomplete></app-input-autocomplete>
  <app-select></app-select>
  <app-text-editor></app-text-editor>
  <app-button></app-button>
  <app-switch></app-switch>
  <app-check-box></app-check-box>
  <app-radio-button></app-radio-button>
</div>