<div class="component-name">
  Input Color
</div>

<div class="input-container">
  <ar-input-color [value]="[0, 0, 255, 255]" type="rgb"></ar-input-color>
</div>

<div class="explanation">
  <div class="explanation-header">
    API
  </div>

  <table class="explanation-title">
    <tr *ngFor="let explanation of explanations">
      <td>{{explanation.title}}</td>
      <td>{{explanation.explanation}}</td>
    </tr>
  </table>
</div>

<div class="explanation">
  <div class="explanation-header">
    Exemple
  </div>
  <div>
    <pre><code [highlight]="htmlCode"></code></pre>
  </div>
</div>